body {
    background-color: red;
}
h1{
    color: white;
}
h1{
    color: yellow;
}
<h1{
    color: blue !important;
}
#myheading{
    color: chartreuse !important;
}
body > #myheading {
    color: green !important;
}