body{
    background-color: lightgray; 
    height: 100vh;  
}
header, footer{
    background-color: black;
    color: white;
    display: flex;
    height: ;
}
h2{
    margin-left: 40%;
}
img{
    width: 60px;
    height: 60px;
}
main{
    height:70%
}


.one{
    height: 100px;
    
}
